.login-page-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: url(/assets/images/dragon-bg.webp) no-repeat center center/cover;
}

.film-logo {
  margin-bottom: 3em;
  object-fit: fill;
}

form {
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0em 1em;
  height: 100%;
  justify-content: center;
  background-color: var(--white-0);

  .form-row {
    margin-bottom: 1.25em;
  }
}
