@use 'sass:map';
@use '@angular/material' as mat;

$_palettes: (
  primary: (
    0: #000000,
    10: #00201d,
    20: #003732,
    25: #00433e,
    30: #005049,
    35: #005d55,
    40: #006a62,
    50: #00867b,
    60: #00a296,
    70: #00c0b1,
    80: #3adccc,
    90: #61f9e9,
    95: #b3fff4,
    98: #e4fffa,
    99: #f2fffc,
    100: #ffffff
  ),
  secondary: (
    0: #000000,
    10: #3f001c,
    20: #650031,
    25: #79003c,
    30: #8e0048,
    35: #a30253,
    40: #b4195f,
    50: #d63878,
    60: #f85392,
    70: #ff84ac,
    80: #ffb1c6,
    90: #ffd9e1,
    95: #ffecef,
    98: #fff8f8,
    99: #fffbff,
    100: #ffffff
  ),
  tertiary: (
    0: #000000,
    10: #171445,
    20: #2c2b5b,
    25: #373667,
    30: #434173,
    35: #4f4d80,
    40: #5b598d,
    50: #7472a7,
    60: #8d8bc2,
    70: #a8a6df,
    80: #c4c1fb,
    90: #e3dfff,
    95: #f2efff,
    98: #fcf8ff,
    99: #fffbff,
    100: #ffffff
  ),
  neutral: (
    0: #000000,
    10: #161d1c,
    20: #2b3230,
    25: #363d3b,
    30: #414847,
    35: #4d5452,
    40: #58605e,
    50: #717977,
    60: #8b9290,
    70: #a5adab,
    80: #c1c8c6,
    90: #dde4e2,
    95: #ebf2f0,
    98: #f4fbf8,
    99: #f7fefb,
    100: #ffffff,
    4: #090f0e,
    6: #0e1514,
    12: #1a2120,
    17: #242b2a,
    22: #2f3635,
    24: #333b39,
    87: #d4dcd9,
    92: #e2eae7,
    94: #e8efed,
    96: #eef5f3
  ),
  neutral-variant: (
    0: #000000,
    10: #101e1c,
    20: #253331,
    25: #303e3c,
    30: #3c4a47,
    35: #475553,
    40: #53615f,
    50: #6b7a77,
    60: #859491,
    70: #9faeab,
    80: #bacac6,
    90: #d6e6e2,
    95: #e4f4f0,
    98: #edfdf9,
    99: #f2fffc,
    100: #ffffff
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff
  )
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error)
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);

@function _high-contrast-value($light, $dark, $theme-type) {
  @if ($theme-type == light) {
    @return $light;
  }
  @if ($theme-type == dark) {
    @return $dark;
  }
  @if ($theme-type == color-scheme) {
    @return light-dark(#{$light}, #{$dark});
  }

  @error 'Unknown theme-type #{$theme-type}. Expected light, dark, or color-scheme';
}

@mixin high-contrast-overrides($theme-type) {
  @include mat.theme-overrides(
    (
      primary: _high-contrast-value(#00332e, #aefff3, $theme-type),
      on-primary: _high-contrast-value(#ffffff, #000000, $theme-type),
      primary-container: _high-contrast-value(#00534c, #40e0d0, $theme-type),
      on-primary-container: _high-contrast-value(#ffffff, #001917, $theme-type),
      inverse-primary: _high-contrast-value(#3adccc, #00514b, $theme-type),
      primary-fixed: _high-contrast-value(#00534c, #61f9e9, $theme-type),
      primary-fixed-dim: _high-contrast-value(#003a35, #3adccc, $theme-type),
      on-primary-fixed: _high-contrast-value(#ffffff, #000000, $theme-type),
      on-primary-fixed-variant: _high-contrast-value(#ffffff, #001512, $theme-type),
      secondary: _high-contrast-value(#5d002d, #ffebef, $theme-type),
      on-secondary: _high-contrast-value(#ffffff, #000000, $theme-type),
      secondary-container: _high-contrast-value(#93004a, #ffabc3, $theme-type),
      on-secondary-container: _high-contrast-value(#ffffff, #20000b, $theme-type),
      secondary-fixed: _high-contrast-value(#93004a, #ffd9e1, $theme-type),
      secondary-fixed-dim: _high-contrast-value(#690033, #ffb1c6, $theme-type),
      on-secondary-fixed: _high-contrast-value(#ffffff, #000000, $theme-type),
      on-secondary-fixed-variant: _high-contrast-value(#ffffff, #2b0011, $theme-type),
      tertiary: _high-contrast-value(#282657, #f2eeff, $theme-type),
      on-tertiary: _high-contrast-value(#ffffff, #000000, $theme-type),
      tertiary-container: _high-contrast-value(#454476, #c7c4ff, $theme-type),
      on-tertiary-container: _high-contrast-value(#ffffff, #100d3f, $theme-type),
      tertiary-fixed: _high-contrast-value(#454476, #e3dfff, $theme-type),
      tertiary-fixed-dim: _high-contrast-value(#2f2d5e, #c4c1fb, $theme-type),
      on-tertiary-fixed: _high-contrast-value(#ffffff, #000000, $theme-type),
      on-tertiary-fixed-variant: _high-contrast-value(#ffffff, #0c083b, $theme-type),
      background: _high-contrast-value(#f4fbf8, #0e1514, $theme-type),
      on-background: _high-contrast-value(#161d1c, #dde4e2, $theme-type),
      surface: _high-contrast-value(#f4fbf8, #0e1514, $theme-type),
      surface-dim: _high-contrast-value(#b3bab8, #0e1514, $theme-type),
      surface-bright: _high-contrast-value(#f4fbf8, #4a5250, $theme-type),
      surface-container-lowest: _high-contrast-value(#ffffff, #000000, $theme-type),
      surface-container: _high-contrast-value(#dde4e2, #2b3230, $theme-type),
      surface-container-high: _high-contrast-value(#cfd6d4, #363d3b, $theme-type),
      surface-container-highest: _high-contrast-value(#c1c8c6, #414847, $theme-type),
      on-surface: _high-contrast-value(#000000, #ffffff, $theme-type),
      shadow: _high-contrast-value(#000000, #000000, $theme-type),
      scrim: _high-contrast-value(#000000, #000000, $theme-type),
      surface-tint: _high-contrast-value(#006a62, #3adccc, $theme-type),
      inverse-surface: _high-contrast-value(#2b3230, #dde4e2, $theme-type),
      inverse-on-surface: _high-contrast-value(#ffffff, #000000, $theme-type),
      outline: _high-contrast-value(#212f2d, #e4f3f0, $theme-type),
      outline-variant: _high-contrast-value(#3e4c49, #b6c6c2, $theme-type),
      error: _high-contrast-value(#600004, #ffece9, $theme-type),
      on-error: _high-contrast-value(#ffffff, #000000, $theme-type),
      error-container: _high-contrast-value(#98000a, #ffaea4, $theme-type),
      on-error-container: _high-contrast-value(#ffffff, #220001, $theme-type),
      surface-variant: _high-contrast-value(#d6e6e2, #3c4a47, $theme-type),
      on-surface-variant: _high-contrast-value(#000000, #ffffff, $theme-type)
    )
  );
}
