@use 'mixins' as mixins;

.login-container {
  width: 100%;
  height: 100vh;
  background: url('/bg-home.webp') center/cover no-repeat;
  display: flex;
  justify-content: flex-end;
}

.form-box {
  background-color: var(--got-white);
  width: 100%;
  display: flex;
  justify-content: center;

  @include mixins.respond-to(lg) {
    width: 50%;
  }
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  gap: 0.5rem;
  padding: 0rem 1.5rem;

  & img {
    margin-bottom: 1rem;
  }

  & mat-form-field {
    width: 100%;
  }

  @include mixins.respond-to(sm) {
    padding: 0rem;
  }
}
