@use 'mixins' as mixins;

.home-page {
  max-width: var(--got-max-xl);
  margin: 0rem auto;
  width: 100%;
}

.cards {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(12, minmax(0, 1fr));

  &__items {
    grid-column: span 12;
    @include mixins.respond-to(lg) {
      grid-column: span 4;
    }
  }
}
