<button mat-button type="button" (click)="goHome()"><mat-icon fontIcon="arrow_back"></mat-icon>Back</button>

<article class="container">
  <div class="filters">
    <app-chracter-filter (filter)="handleCharacterFilter($event)"></app-chracter-filter>
  </div>

  @if (isLoading) {
    <app-cards-skeleton></app-cards-skeleton>
  }

  <section class="char-container">
    @for (character of characters$ | async; track $index) {
      <app-resource-card
        avatar="character"
        [title]="character.name || 'Unkown'"
        [subTitle]="character.gender || 'Unkown'"
        (viewDetail)="(null)"
      ></app-resource-card>
    }
  </section>
</article>
