<button mat-button type="button" (click)="goHome()">
  <mat-icon fontIcon="arrow_back"></mat-icon>
  <span>Back</span>
</button>

<article class="container">
  <div class="container__filters">
    <app-house-filter (filter)="handleHouseFilter($event)"></app-house-filter>
  </div>

  @if (isLoading) {
    <app-cards-skeleton></app-cards-skeleton>
  }

  <section class="houses-container">
    @for (house of houses$ | async; track $index) {
      @let region = house.region || 'Unkown';
      <app-resource-card
        avatar="house"
        [title]="house.name"
        [subTitle]="region"
        (viewDetail)="(null)"
      ></app-resource-card>
    }
  </section>
</article>
