@import "@taiga-ui/core/styles/taiga-ui-theme.less";
@import "@taiga-ui/core/styles/taiga-ui-fonts.less";
@import "@taiga-ui/styles/taiga-ui-global.less";
@import "./assets/styles/base/index.less";

:root {
  --tui-font-text-s: normal 16px var(--tui-font-text);
  --tui-text-font: RobotoText;
  --tui-heading-font: RobotoHeading;
  --black-0: #000000;
  --white-0: #ffffff;
}
