@use 'mixins' as mixins;

.skeleton-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 2rem;
}

.card-skeleton {
  width: 100%;
  height: 140px;
  grid-column: span 12;
  animation: skeleton-loading 1.5s infinite linear;

  @include mixins.respond-to(md) {
    grid-column: span 3;
  }
}
